<div ng-controller="childrenCtr">
<div class="btn-group">
    <button type="button" ng-click="showbtn()" class="btn btn-default">New child</button>
    <button type="button" ng-click="childrenList()" class="btn btn-default">List children</button>
</div>
<br/>
<div  ng-show="childrenPage">
    <div class = "col-lg-2">

    </div>
    <br/>
    <div ng-show="message.message" class = "alert alert-success">{{message.message}}</div>
    <div class="col-lg-12"><label><h3>List of children</h3></label></div>
    <div  class="well ">
        <input type="text" class="form-control" placeholder="Search child by names...." ng-model="search">
        <br/>
        page:
        <select ng-model="number" >
            <option selected value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
        <br/>
        <br/>
        <div ng-init="number=10" class="panel-group">
            <div dir-paginate="c in childrens |filter:search |itemsPerPage:number"  class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{c.child.firstName}} {{c.child.lastName}}
                        <a class="pull-right" ng-hide="showpanel" ng-click = "showpanel = !showpanel"  data-toggle="collapse" href="" data-target="#collapse{{c.child.id}}"><span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                        <a class="pull-right" ng-show="showpanel" ng-click = "showpanel = !showpanel"  data-toggle="collapse" href="" data-target="#collapse{{c.child.id}}"><span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>

                    </h4>
                </div>
                <div id="collapse{{c.child.id}}" class="panel-collapse collapse">
                    <div class="panel-body">

                        <a style="float: right;color: white" class="btn btn-info"   href=""><span style="color: white"  class="glyphicon glyphicon-edit  text-info"></span></a>

                        <a style="float:  right;color: white" class="btn btn-danger"  ng-click="deleteEmployee(employee)" href=""><span style="color: white" class="glyphicon glyphicon-remove text-danger "></span></a>
                        <br/>
                        <center><label>IDENTIFICATION</label></center>
                        <hr>

                        <br/>

                        <br/>
                        <table class="table table-bordered">
                            <tr>
                                <td style="width: 85%"> </td>
                                <td style="width: 15%"> <img ng-if="c.child.photo !=''" style="width: 100px;height: 100px" data-ng-src="/assets/images/profile/{{c.child.photo}}" class="img-thumbnail pull-right img-responsive" alt="{{c.child.photo}}">
                                    <img ng-if="ec.child.photo =='' " style="width: 100px;height: 100px" data-ng-src="/assets/images/avatar.jpg" class="img-thumbnail pull-right img-responsive" alt="{{employee.photo}}"></td>

                            </tr>

                        </table>
                        <table class = "table table-bordered">

                            <tr>
                                <th >First name :</th><td >{{c.child.firstName}}</td>
                                <th >Last name:</th><td >{{c.child.lastName}}</td>

                            </tr>
                            <tr>
                                <th >Surname:</th><td >{{c.child.sureName}}</td>
                                <th >Date of birth:</th><td >{{c.child.dob| date:'dd/MM/yyyy'}}</td>

                            </tr>
                            <tr>
                                <th >Sex:</th><td >{{c.child.gender}}</td>
                                <th >Cellure:</th><td >{{c.child.cellure}}</td>

                            </tr>
                            <tr>
                                <th >Sector:</th><td >{{c.child.sector}}</td>
                                <th >District:</th><td >{{c.child.district}}</td>

                            </tr>
                            <tr>
                                <th >Province:</th><td >{{c.child.province}}</td>
                                <th >Weight:</th><td >{{c.child.weight}}kg</td>

                            </tr>
                            <tr>
                                <th >Height:</th><td >{{c.child.height}}cm</td>
                                <th >National id:</th><td ng-if="child.child.nationId==0" >No
                            </td><td ng-if="child.child.nationId !=0" >{{c.child.nationId}}</td>
                            </tr>
                            <tr>
                                <th >Father name :</th><td >{{c.fatherNames}}</td>
                                <th >Status:</th><td >{{c.fatherStatus}}</td>

                            </tr>
                            <tr>
                                <th >Mather name:</th><td >{{c.matherNames}}</td>
                                <th >Status:</th><td >{{c.matherStatus}}</td>

                            </tr>
                            <tr>
                                <th >Nearest Parent:</th><td >{{c.nearestParent}}</td>
                                <th >others:</th><td >{{c.others}}</td>

                            </tr>

                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/assets/partials/tables/dirPagination.tpl.html"></dir-pagination-controls>
</div>
</div>