
<div class = row style = "" >

    <div class = "container">

<div class = "col-lg-4">

</div>
    <div class = "col-lg-4">

        <div >
            <div><center><img src="/assets/images/logo/logo.svg" class="img-circle img-responsive" style="width: 200px;height: 200px" alt="Logo" ></center></div>
        <div ng-controller = "login" class = "panel panel-success">
            <div class = "panel-heading" style = "font-size:26px;">

                Login
            </div>
            <br>

            <form ng-submit = "submit()" style = "padding:10px" >
                <div class = "{{msg.class}}" ng-show = "msg.show">
                    {{msg.msg}}
                </div>
                <label>Username</label>
                <input ng-model = "username" class = "form-control" placeholder="Enter your username">
                <label>Password</label>
                <input ng-model = "password" type = password class = "form-control" placeholder="Enter your password">

                <hr>
                <div>
                    <input class = "btn btn-success" type = "submit"  value="{{btnstatus}}" >
                    <a href="" class="btn btn-link">Forget password ?</a>
                </div>





            </form>
			
			


        </div>
		    <br>
			<br>
			<br>

        </div>

    </div>

        <div class = "col-lg-4">

        </div>
    </div>
</div>