@(child: Child,parentInfo:ParentInfo,siblings: Siblings,childHistory: ChildHistory,usageDrugs: UsageDrugs,childBehavior: ChildBehavior,schooling: Schooling,neighbours: Neighbours)

<div ng-controller="childrenCtr">
    <div  >
        <div class = "col-lg-2">

        </div>
        <br/>
        <div ng-show="message.message" class = "alert alert-success">{{message.message}}</div>
        <div class="col-lg-12"><label><h3></h3></label></div>

        <div  class="well ">
            <button class = "btn btn-success pull-right" ng-click = "printReport('printthis')"><span class = "glyphicon glyphicon-print"></span> Print</button>

            <br/><br/>
            <div id = "printthis"  class="panel-group">
                <div  class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @child.firstName.toUpperCase @child.lastName.toUpperCase DETAILS
                        </h4>
                    </div>
                    <div  class="panel">
                        <div class="panel-body">

                            <br/>
                            <center><label>IDENTIFICATION</label></center>
                            <hr>

                            <table class="table table-bordered">
                                <tr>
                                    <td style="width: 80%"></td>
                                    <td style="width: 20%">
                                        @if(child.photo!=null ||child.photo!=""){
                                        <img  style="width: 95% ;height: 50%" src="/assets/images/profile/@child.photo" class="img-thumbnail pull-right img-responsive" alt="@child.photo">
                                        }
                                        @if(child.photo==null ||child.photo=="") {
                                            <img style="width: 95%;
                                                height: 50%" src="/assets/images/avatar.jpg" class="img-thumbnail pull-right img-responsive" ></td>
                                          }

                                </tr>

                            </table>
                            <table class = "table table-bordered">

                                <tr>
                                    <th >First name :</th><td >@child.firstName</td>
                                    <th >Last name:</th><td >@child.lastName</td>

                                </tr>
                                <tr>
                                    <th >Surname:</th><td >@child.sureName</td>
                                    <th >Date of birth:</th><td >@child.dob.format("dd/MM/yyyy")</td>

                                </tr>
                                <tr>
                                    <th >Sex:</th><td >@child.gender</td>
                                    <th >Cellure:</th><td >@child.cellure</td>

                                </tr>
                                <tr>
                                    <th >Sector:</th><td >@child.sector</td>
                                    <th >District:</th><td >@child.district</td>

                                </tr>
                                <tr>
                                    <th >Province:</th><td >@child.province</td>
                                    <th >Weight:</th><td >@child.weight kg</td>

                                </tr>
                                <tr>
                                    <th >Height:</th><td >@child.height cm</td>
                                    <th >National id:</th>
                                    @if(child.nationId.equals(0) || child.nationId==null){
                                        <td >Not yet taken</td>
                                    }else{
                                        <td  >@child.nationId</td>
                                    }

                                </tr>
                                <tr>
                                    <th >Father name :</th><td >@parentInfo.fatherNames</td>
                                    <th >Status:</th><td >@parentInfo.fatherStatus</td>

                                </tr>
                                <tr>
                                    <th >Mather name:</th><td >@parentInfo.matherNames</td>
                                    <th >Status:</th><td >@parentInfo.matherStatus</td>

                                </tr>
                                <tr>
                                    <th >Nearest Parent:</th><td >@parentInfo.nearestParent</td>
                                    <th >others:</th><td >@parentInfo.others</td>

                                </tr>

                            </table>
                            @if(childHistory!=null){
                            <center><label>Child history</label></center>
                            <hr>
                            <table class = "table table-bordered">
                                <tr>
                                    <th >@childHistory.q1:</th><td >@childHistory.a1</td>
                                    <th >@childHistory.q2:</th><td >@childHistory.a2</td>

                                </tr>
                                <tr>
                                    <th >@childHistory.q3:</th><td >@childHistory.a3</td>
                                    <th >@childHistory.q4:</th><td >@childHistory.a4</td>

                                </tr>
                                <tr>
                                    <th >other reason:</th><td >@childHistory.childHistoryother</td>
                                    <th >Street location:</th><td >@childHistory.streetLocation</td>

                                </tr>
                            </table>
                            }
                            @if(usageDrugs!=null){
                            <br/>
                            <center><label>Drugs usage</label></center>
                            <hr>
                            <table class = "table table-bordered">
                                <thead>
                                <tr>
                                    <th >Drugs type</th>

                                    <th >Usage</th>



                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td >@usageDrugs.drugName1</td>
                                    <td >@usageDrugs.usageState1</td>


                                </tr>
                                <tr>
                                    <td >@usageDrugs.drugName2</td>
                                    <td >@usageDrugs.usageState2</td>


                                </tr>
                                <tr>
                                    <td >@usageDrugs.drugName3</td>
                                    <td >@usageDrugs.usageState3</td>


                                </tr>
                                <tr>
                                    <td >@usageDrugs.drugName4</td>
                                    <td >@usageDrugs.usageState4</td>


                                </tr>
                                <tr>
                                    <td >@usageDrugs.other</td>
                                    <td >@usageDrugs.usageState5</td>


                                </tr>
                                </tbody>
                            </table>
                            <div>

                                <label>@usageDrugs.q1</label>
                                @usageDrugs.druga1
                                <br/>
                                <label>@usageDrugs.q2</label>
                                @usageDrugs.druga2"
                            </div>
                            }
                            @if(childBehavior!=null){
                            <br/>
                            <center><label>Child Behavior</label></center>
                            <hr>
                            <table class = "table table-bordered">
                                <tr>
                                    <th >With others children</th><td >@childBehavior.withOthers</td>
                                    <th >To facilitators</th><td >@childBehavior.toFacilitators</td>


                                </tr>
                                <tr>
                                    <th >Behavioral disorder</th><td >@childBehavior.behavioralDisorder</td>
                                    <th >Others</th><td >@childBehavior.others</td>

                                </tr>
                            </table>
                            }

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
    <style media="print" rel="stylesheet" type="text/css">
    table {
        border:solid #000 !important;
        border-width:1px 0 0 1px !important;
    }
    th, td {
        border:solid #000 !important;
        border-width:0 1px 1px 0 !important;
    }
    </style>

